<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qzero"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Outlet.Activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Outlet.Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TabTheme" />
        <activity
            android:name=".MyAccount.Activities.DashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".Outlet.Activities.SearchVenueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Outlet.Activities.SearchItemActivity"
            android:label="@string/title_activity_search_item"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Outlet.Activities.OutletActivity"
            android:label="@string/title_activity_search_item"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>

        <activity
            android:name=".Outlet.Activities.OutletCategoryActivity"
            android:label="@string/title_activity_outlet_catogery"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>

        <activity
            android:name=".MyAccount.Activities.OrderedItemActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Outlet.Activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Outlet.Activities.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Outlet.Activities.SearchActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
